.main-btn {
  padding: 15px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.bg-red {
  background: red;
}

.bg-blue {
  background: blue;
}

.f-samll {
  font-size: 10px
}
.f-large {
  font-size: 50px;
}