div {
  display: flex;
  justify-content: center;
}

img {
  width: 100px;
  display: block;
}

h3 {
  font-size: 16px;
  text-align: center;
}

p {
  color: black;
  letter-spacing: 5px; 
  text-align: center;
}

span {
  color: rebeccapurple;
}