.profile {
  display: flex;
  justify-content: center;
}

img {
  width: 100px;
  display: block;
  border-radius: 10px;
}

h3 {
  font-size: 16px;
  text-align: center;
}

p {
  color: black;
  letter-spacing: 5px; 
  text-align: center;
}

span {
  color: rebeccapurple;
}

.profile.box {
  background-color: blue;
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 10px;
  border: 1px soldic black;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rebeccapurple;
}