td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

.cart-back {
  width: 100%;
  background-color: lightskyblue;
  padding: 30px;
}

.cart-table {
  width: 100%;
  max-width: 700px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  border-collapse: collapse;
  text-align: center;
}

/* td, th {
  border: 1px solid black;
} */

.cart-table td, th {
  padding: 15px;
  border-bottom: 1px solid #c2d3de;
  border-left: none;
  border-right: none;
  border-top: none;
}

.cart-table th:nth-child(2) {
  width: 400px;
}

.btn{
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: coral;
  color: white;
  cursor: pointer;
}
.btn:hover {
  background-color: chocolate;
}
.btn:focus {
  background-color: black;
}
.btn:active {
  background-color: brown; 
}
.input-test:focus {
  border-bottom: 2px solid rebeccapurple;
}
.c-link {
  text-decoration: none;

}
.c-link:link {
  color: red;
}
.c-link:visited {
  color: black;
}